{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}

{% block content %}

<section id="about_us">
    <h1 class="main_header">About Us.</h1>
    <p>
        Scheduling is a web app that aids users in creating a daily or weekly schedule to best fit their needs and improve
        their physical and mental well-being. In 'Scheduling', users can state their tasks that need to be completed and their personal traits, 
        such as wake up times, bed times, hobbies, and personal goals. The program will then run an algorithm, using ...

        The idea to create 'Scheduling' was inspired by busy school schedules. We (the creators) thought it would be useful 
        and convenient to have a program that uses psychological and scientific research to create the best 
        schedule for our lifestyle. With our peers reciprocating the same thoughts, we think that this program will be useful
        to a larger demographic apart from students, for people aiming to improve their lifestyle. 
    </p>
    <img class="section_img" src="images/planner.jpg" alt="open journal and 
    gold binder clips on a table">
</section>

{% endblock %}